*{
    padding: 0;
    margin: 0;
}
body{
 display: flex;
 justify-content: space-around;
 align-items: center ;
}

input{
    padding: 3%;
    margin: 5%;
    border-radius: 5vh;
    border: none;
    background-color: rgb(179, 179, 179);
    width: 70%;
}
input:focus{
    border: none;
}

input:hover{
    background-color: white;
}

label{
    color: white;
    padding: 5%;
    margin: 5%;
    word-wrap: break-word;
    width: 10vh;
    height: 10vh;
}
.login{
    color:rgb(180, 180, 180);
    text-align: center;
    width: 60vh;
    padding: 1%;
    height: 40%;
    font-size: 2vh;
    font-weight: 900;
    font-family: sans-serif;
    background-image: radial-gradient(rgb(93, 0, 255), rgb(140, 0, 255));
    border-radius: 5vh;
    margin: 10%;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.265);
}

#join:hover{
    color: rgb(81, 0, 255);
    transform: translateY(-1vh);
    transition: 1s;
    box-shadow: 1vh 1vh 2vh 0vh rgba(0, 0, 0, 0.581);
}


@media only screen and (max-width: 400px) {
.login {
        color: rgb(180, 180, 180);
        text-align: center;
        width: 90%;
        padding: 1%;
        height: 40%;
        font-size: 2vh;
        font-weight: 900;
        font-family: sans-serif;
        background-image: radial-gradient(rgb(93, 0, 255), rgb(140, 0, 255));
        border-radius: 5vh;
        margin: 5%;
        box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.265);
    }
}